## ruby

/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.bundle.*
*.so
*.o
*.a
mkmf.log
.pry_history
.ruby-version

## crystal
/ext/*/.shards
/ext/*/lib

# other
.DS_Store
